<h1>Search</h1>

<%= form_tag(stores_path, method: "get") do %>
  <h4>Select Tacos to Find:</h4>

  <% @tacos.each do |taco| %>
    <%= check_box_tag("store[taco_ids][]", taco.id) %>
    <%= label_tag(taco.id, taco.name) %>
    <br />
  <% end %>

  <h4>Select Sauces to Find:</h4>

  <% @salsas.each do |salsa| %>
    <%= check_box_tag("store[salsa_ids][]", salsa.id) %>
    <%= label_tag(salsa.id, salsa.name) %>
    <br />
  <% end %>
  <br />
  <%= submit_tag("Search") %>
<% end %>
